<main id='root'>
    <script type="text/javascript">
      <% if logged_in? %>
        window.currentUser = <%= (render 'api/users/user.json.jbuilder', user: current_user).html_safe %>
      <% end %>
      window.images = {
        logo: "<%= image_path("Logomakr_0nAUYb.png") %>",
        logoWhite: "<%= image_path("logo-white.png") %>",
        default: "<%= image_path("default_beer_Image.png") %>"
      };
      window.styles = {
         styles: <%= (Beer::BEER_STYLES.to_json).html_safe %>
       }
      window.checkin_count = {
         checkins: <%= (Checkin.count.to_json).html_safe %>
       }
      window.breweries = {
        breweries: <%= (Brewery::BREWERIES.to_json).html_safe %>
      }
      window.top_beers = {
        top_beers: <%= (Beer.top_beers.to_json).html_safe %>
      }
    </script>
</main>
