<main id='root'>
    <script type="text/javascript">
      <% if logged_in? %>
        window.currentUser = <%= (render 'api/users/user.json.jbuilder', user: current_user).html_safe %>
      <% end %>
      window.images = {
        logo: "<%= image_path("Logomakr_0nAUYb.png") %>",
        logoWhite: "<%= image_path("logo-white.png") %>"
      };
      window.styles = {
         styles: <%= (Beer::BEER_STYLES.to_json).html_safe %>
       }
      window.breweries = {
        breweries: <%= (Brewery::BREWERIES.to_json).html_safe %>
      }
    </script>
</main>
