<!DOCTYPE html>
<html>
<head>
  <title>Untapped</title>
  <link rel="stylesheet" href="signin.css">
  <script src="bundle.js" charset="utf-8"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
