#beer-form {
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
  background: white;
  height: 80%;
  display: flex;
  justify-content: space-between;
}

#beer-form-title {
  margin: 0 auto;
  font-size: 1.8em;
  font-weight: bold;
}

#beer-form p {
  color: grey;
  margin-bottom: 3px;
}

.beer-input {
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.1);
  height: 20px;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 1px solid lightgrey;
}

.beer-input:hover {
  border: 1px solid grey;
  box-shadow: none;
}

#beer-form-button {
  background-color: #FFCC00;
  cursor: pointer;
  font-size: 1.5em;
  border-style: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  font-family: ProximaNova, Helvetica Neue,Helvetica;
}

.beer-input-container {
  width: 100%;
}

.beer-input-container p {
  width: 100%;
}
.beer-input-container input, .beer-input-container select {
  width: 100%;
}

.form-container {
  /*height: 100vh;*/
  background-color: none;
}

.input-check-container {
  display: flex;
}

/*.form-div {
  position: relative;
  height: 100%;
}*/

#abv-ibu-container {
  display: flex;
}

#abv-ibu-container .beer-input-container:first-child {
  padding-right: 10px;
}

#abv-ibu-container .beer-input-container:last-child {
  padding-left: 10px;
}

#brewery-picture-input {
  visibility: hidden;
}

#beer-form-pic-input {
  margin-bottom: 20px;
}

#pending-beer-image {
  margin-top: 20px;
}
@media (max-device-width: 500px) {
  #beer-form {
    padding-top: 100px;
    width: 70%;
    min-height: 75vh;
  }

  .beer-input {
    height: 40px;
  }

  .form-container {
    min-height: 75vh;
  }
}
