#checkin-form-container {
  position: absolute;
  top: 100px;
  left: 40%;
  width: 400px;
  background: white;;
  border: 1px solid lightgrey;
  z-index: 100;
  margin: 0 auto;
}

#checkin-form {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
  text-align: left;
}

#checkin-form p {
  color: black;
  font-family: inherit;
}

#checkin-slider {
  display: flex;
  justify-content: space-between;
}

#checkin-slider p {
  padding: 10px;
  background: grey;
  color: white;
  border-radius: 4px;
}

#checkin-title {
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
}

#checkin-title span {
  padding-left: 20px;
  font-weight: 600;
  font-size: 1.1em;
}

#checkin-title i {
  padding-right: 10px;
  padding-top: 5px;
}

.checkin-button {
  background-color: #f4b800;
  color: white;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  font-family: ProximaNova, Helvetica Neue,Helvetica;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.checkin-input {
  height: 20px;
  border-radius: 6px;
  border-style: none;
  margin-bottom: 20px;
  border: 1px solid lightgrey;
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.1);
}

.checkin-input:hover {
  box-shadow: none;
  border: 1px solid grey;
}

#transparent-background {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
}

input[type=range] {
  height: 24px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 125px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 125px;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.1);
  background: #808080;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.1);
  border: 0px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #FFC600;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #808080;
}
input[type=range]::-moz-range-track {
  width: 125px;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.1);
  background: #808080;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.1);
  border: 0px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #FFC600;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 125px;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #808080;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #808080;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #2497E3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #FFC600;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #808080;
}
input[type=range]:focus::-ms-fill-upper {
  background: #808080;
}
