.fa-times {
  color: white;
  cursor: pointer;
}

.fa-plus-square {
  position: absolute;
  top: 10px;
  right: 340px;
  font-size: 4em;
  color: #FFCC00;
}

.fa-camera {
  border-radius: 4px;
  color: white;
  font-size: 40px;
  padding: 10px;
  background: #ffc600;
}

.fa-camera:hover {
  cursor: pointer;
}

.fa-plus-square:hover {
  cursor: pointer;
}
.fa-plus-square:hover:after {
  content: 'CHECKIN';
  position: absolute;
  font-size: 14px;
  color: white;
  background: black;
  top: 60px;
  right: -16px;
  font-weight: 600;
  padding: 5px 10px 5px 10px;
  border-radius: 4px;
}

/*.fa-plus-square:hover::after {
  content: 'checkin';
  position: absolute;
  color: white;
  background-color: black;
  font-weight: bold;
  top: 60px;
  right: 0px;
  padding: 5px;
  font-size: 15px;
  border-radius: 4px;
}*/

.fa-search {
  position: relative;
  /*bottom: 29px;*/
  top: 8px;
  color: black;
  right: 20px;
  /*padding-right: 20px;*/
}

.fa-beer {
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.fa-comments {
  margin-right: 5px;
}

.fa-sticky-note-o {
  padding-right: 5px;
}

.fa-check-circle-o {
  color: green;
  margin-left: 20px;
}

#image-check {
  font-size: 35px;
}
