<!DOCTYPE html>
<html>
<head>
  <title>Untapped</title>
  <link href="../../assets/images/favicon.ico" rel="icon" type="image/x-icon" />
  <script src="https://use.fontawesome.com/8209dfa968.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>
<div class="footer">
  <h1 class='footer-name'>John Van Schultz<h1>
    <ul class='footer-list'>
      <li><a href="https://github.com/jvansch1">Github</a></li>
      <li><a href="https://www.linkedin.com/profile/edit?locale=en_US&trk=profile-preview">LinkedIn</a></li>
      <li><a href="https://angel.co/john-van-schultz-1">AngelList</a></li>
    </ul>
</div>
</body>
</html>
